#
# This GitHub action runs Packer go tests across
# multiple runners.
#

name: "Go Test Multi-Platform"

on:
  push:
    branches:
      - 'main'
      - 'dev'
  pull_request:

permissions:
  contents: read

jobs:
  darwin-go-tests:
    runs-on: macos-latest
    name: Darwin Go tests
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: |
          go test -race -count 1 ./... -timeout=3m -v

  windows-go-tests:
    runs-on: windows-latest
    name: Windows Go tests
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      # Running unit tests directly with `go test` due to gofmt/gofumpt issues in Windows
      - run: |
          go test -race -count 1 ./... -timeout=3m -v

  linux-go-tests:
    runs-on: ubuntu-latest
    name: Linux Go tests
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: |
          make unit-test
