#
# This GitHub action runs basic linting checks for Packer.
#

name: "Go Validate"

on:
  push:
    branches:
      - 'main'
      - 'dev'
  pull_request:

permissions:
  contents: read

jobs:
  check-mod-tidy:
    runs-on: ubuntu-latest
    name: Go Mod Tidy
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go mod tidy
  check-lint:
    runs-on: ubuntu-latest
    name: Lint check
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: golangci/golangci-lint-action@v9
        with:
          only-new-issues: true
  check-fmt:
    runs-on: ubuntu-latest
    name: Gofmt check
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: make fmtcheck
  check-generate:
    runs-on: ubuntu-latest
    name: Generate check
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          make generate
